<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RESTAURANT.name %></title>
</head>
<body>
  <h1>Home Page</h1>
  <p>Restaurant Name: <%= RESTAURANT.name %></p>
  <p>Restaurant Address: <%= RESTAURANT.address %></p>
  <p>Restaurant Phone: <%= RESTAURANT.phone %></p>
  <%- include('./partials/nav') %>
</body>
</html>
